header {
    color: #ea590b;
    text-align: center;
}

header nav {
    color: #116892;
    text-align: left;
    border: dashed 2px #a9013f;
    border-radius: 20px;
}

body {
    background-color: white;
}

p {
    border-radius: 10px;
    border: dotted 2px #e5c30e;
    font-size: 17px;
}

h2 {
    color: #f3297f;
}

h3 {
    color: #04a807;
}

a {
    color: #0b83a8;
}

img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

video {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

table, td, th {
    border: 2px solid #a14309;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.website-body {
    display: flex;
}

.first-section {
    flex: none;
    width: 23%;
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
}

.second-section {
    flex: none;
    width: 50%;
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
}


.third-section {
    flex: none;
    width: 23%;
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
}

.dark-mode {
    background-color: #3d3d3d;
    color: white;
}

/*darkMode switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #afacac;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f3c221;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f3c221;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}